@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
ul {
  list-style: none;
  color: black;
}

#header {
  position: fixed;
  z-index: 1000px;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: auto;
  background-color: rgb(1, 1, 43);
}

.header {
  min-height: 8vh;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 1450px;
  padding-left: 10px;
}

.nav-list li {
  display: inline;
  padding-left: 30px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}
.nav-list{
    padding-right: 10px;
}
a {
  text-decoration: none;
  color: white;
}

img{
  width: 100px;
}

.name {
  color: white;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  padding: 17px;
}

.firstSection{
    padding-top: 250px;
}

.secondSection{
  margin-top: 400px;
}

.about{
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
}

body{
    background-color: rgb(1, 1, 43);
}

#particles-js canvas {
    display: block;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(3, 3, 50); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.444); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.line-1{
    border-right: 2px solid rgba(255,255,255,.75);
    white-space: nowrap;
    overflow: hidden;  
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 12em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}