@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

#header {
  position: fixed;
  width: 100vw;
}

nav {
  font-family: "Montserrat", sans-serif;
  background: rgb(1, 1, 43);
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .mainMenu {
  display: flex;
  list-style: none;
}

nav .mainMenu li a {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 18px;
  transition: 0.2s ease;
}
nav .mainMenu li a:hover {
  background: rgb(11, 0, 97);
}
nav .openMenu {
  font-size: 1.5rem;
  padding: 15px;
  display: none;
  cursor: pointer;
}
nav .mainMenu .closeMenu,
.icons i {
  font-size: 2rem;
  display: none;
  cursor: pointer;
  color: #ffffff;
}
.fa-facebook:hover {
  color: rgb(0, 110, 255);
}
.fa-twitter:hover {
  color: rgb(86, 154, 243);
}
.fa-instagram:hover {
  color: rgb(255, 0, 191);
}
.fa-github:hover {
  color: rgb(255, 123, 0);
}
nav .logo {
  position: relative;
  right: 265px;
  padding: 25px;
  font-size: 20px;
  cursor: pointer;
}

.logo a {
  text-decoration: none;
  color: white;
}

img {
  margin: 15px;
  width: 120px;
}

.images{
  width: 300px;
}

.info{
  font-size: 25px;
}
.own{
  display: inline;
}

.name {
  color: white;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  padding: 17px;
}

.firstSection {
  padding-top: 300px;
}

.secondSection {
  padding: 70px;
  margin-top: 300px;
}

.about {
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 55px;
  font-family: "Montserrat", sans-serif;
  display: flex;
  column-gap: 12px;
  flex-wrap: wrap;
}

.secwrapper {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}

.secabout {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: bold;
}

.thirwrapper {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}

.thirdabout{
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: bold;
  margin: 15px;
}

.card-1 {
  background-color: #232d48;
  width: 1200px;
  height: 100%;
  margin: 140px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.content {
  text-align: center;
  margin-top: 20px;
  word-spacing: 1px;
  letter-spacing: 2px;
}

.dnone {
  margin: 0;
  padding: 0;
  display: none;
}

body {
  background-color: rgb(1, 1, 43);
}

u {
  color: rgb(177, 177, 177);
  display: none;
}

/* particle js */

#particles-js canvas {
  display: block;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: opacity 0.8s ease, -webkit-transform 1.4s ease;
  transition: opacity 0.8s ease, transform 1.4s ease;
}

#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(3, 3, 50);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.444);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.line-1 {
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  white-space: nowrap;
  overflow: hidden;
}

/* Animation */
.anim-typewriter {
  animation: typewriter 2s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 650px;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

/*responsive*/

@media only screen and (max-width: 1198px) {
  .card-1 {
    width: 1000px;
    height: 100%;
  }
  nav .logo {
    padding: 25px;
    font-size: 15px;
    cursor: pointer;
    position: relative;
    right: 50px;
  }
}

@media only screen and (max-width: 999px) {
  .card-1 {
    width: 700px;
    height: 100%;
  }
  nav .logo {
    padding: 25px;
    font-size: 15px;
    cursor: pointer;
    position: relative;
    left: 0px;
  }
}

@media (max-width: 800px) {
  nav .mainMenu {
    height: 100vh;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(1, 1, 43);
    transition: top 1s ease 0s;
    display: none;
  }
  nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  nav .openMenu {
    display: block;
  }
  nav .mainMenu li a:hover {
    background: none;
    color: rgb(255, 123, 0);
  }
  .icons i {
    display: inline-block;
    padding: 12px;
  }
}

@media only screen and (max-width: 799px) {
  .about {
    font-size: 40px;
  }
  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 470px;
    }
  }
  nav .logo {
    padding: 25px;
    font-size: 15px;
    cursor: pointer;
    left: 0px;
  }
}

@media only screen and (max-width: 734px) {
  .card-1 {
    width: 350px;
    height: 100%;
  }
  .name {
    font-size: 20px;
  }
  u {
    display: inline;
  }
  #more {
    display: none;
  }
}

@media only screen and (max-width: 503px) {
  .about {
    font-size: 25px;
  }
  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 300px;
    }
  }
  .secondSection {
    margin-top: 400px;
  }
  img {
    width: 80px;
  }
  nav .logo {
    padding: 25px;
    font-size: 15px;
    cursor: pointer;
    right: 20px;
  }

}

@media only screen and (max-width: 422px) {
  .about {
    flex-direction: column;
  }
  .intro {
    margin-top: 10px;
  }
  nav .logo {
    font-size: 15px;
  }
  nav .openMenu {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 400px) {
  .card-1 {
    width: 300px;
  }
}



/* 
Slideshow container */
.slideshow-container {
  max-width: 400px;
  margin: auto;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 100px;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0px;
  top: 1400px;
  border-radius: 3px 0 0 3px;
}
.prev{
  left: 0px;
  top: 1400px;
  border-radius: 3px 0 0 3px;
}

.newnext{
  top: 2050px;
}

.newprev{
  top: 2050px;
}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
img{
  border-radius: 65px;
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}


nav img{
  width: 60px;
  margin: 0 15px;
  padding: 0;
}
